.country-card {
    display: flex;
    flex-direction: column;
    border-color: none;
    border-radius: 5px;
    width: 200px;
    height: auto;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.country-card:hover {
    cursor: pointer;
}

.country-link {
    text-decoration: none;
    color: inherit;
}

.data {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 0 30px 20px;
}


.flag {
    width: 100%;
    height: 140px;
}

.flag img {
    width: 100%;
    height: 140px;
    object-fit: fill;
}

/*  DARK THEME  */
.data.dark {
    background-color: rgb(44, 55, 67);
    color: white;
}