.main-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3em;
    padding-bottom: 10.5em;
    row-gap: 3em;
}

.btn-container {
    align-self: flex-start;
}

.btn-back {
    /* display: flex; */
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 6px 20px;
    border-radius: 6px;
}

.btn-back.dark {
    background-color: rgb(44, 55, 67);
    color: white;
}

.country-container {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    column-gap: 6em;
    justify-content: space-between;
}

.flag-container {
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.flag-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* This property maintains the aspect ratio and covers the entire container */
}

.data-container {
    margin: auto;
}

.btn-country {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 6px 20px;
    border-radius: 6px;
}

.btn-country.dark {
    background-color: rgb(44, 55, 67);
    color: white;
}

.main-container.dark {
    background-color: rgb(34, 45, 55);
    color: white;
}