.header {
    display: flex;
    justify-content: space-between;
    padding: 19px 40px;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: larger;
    font-weight: bold;
}

.btn-dark {
    border: none;
    border-radius: 4px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    background-color: white;
}

.btn-dark:hover {
    cursor: pointer;
}

.header.dark {
    background-color: rgb(44, 55, 67);
    color: white;
}

.btn-dark.dark {
    background-color: rgb(44, 55, 67);
    color: white;
}