.bar {
    display: flex;
    justify-content: space-between;
    padding: 27px 40px;
}

.bar.dark {
    display: flex;
    justify-content: space-between;
    padding: 27px 40px;
    background-color: rgb(33, 44, 54);
}

.search-input,
.region-select,
.sort-select,
.subregion-select {
    padding: 8px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.search-input.dark,
.region-select.dark,
.sort-select.dark,
.subregion-select.dark {
    background-color: rgb(44, 55, 67);
    color: white;
}