.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 40px;
  row-gap: 4em;
  column-gap: 3em;
}

body {
  font-family: sans-serif;
}

.cards-container.dark {
  background-color: rgb(33, 44, 54);
}

/* select {
  text-decoration: none;
  border: none;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} */